<div class="jumbotron">
  <div class="container">
    <h2>Sortable list</h2>
    <div class="row">
      <aside class="col-md-4 col-xs-6">
        <ul class="list-group" ng-model="category">
          <li ng-repeat="day in days" class="list-group-item category">
             {{ day.categorie }}
          </li>
        </ul>
      </aside>

      <section class="col-md-8 col-xs-6">
        <ul class="list-group" ui-sortable="sortableOptions" ng-model="list">
          <li ng-repeat="item in list" class="list-group-item task">
             {{ item.title }} - <span class="badge">{{item.number}}</span>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>