<div class="jumbotron">
  <div class="container">
    <div class="row">

      <section class="col-md-12">
        <div class="row">
          <h2>Sortable list</h2>
          <ul class="list-inline" ng-model="docs" ng-repeat="day in docs">

            <li class="col-md-2 col-xs-6" ng-if="day.categorie !== 'Delete'">
               <h4>
                {{ day.categorie }} <span class="label label-info pull-right">{{ day.tasks.length }}</span>
               </h4>

               <ul class="list-group apps-container"
                   ui-sortable="sortableOptions"
                   ng-model="day.tasks">
                 <li class="list-group-item task app {{ task.importance }}"
                     ng-repeat="task in day.tasks">
                    <div href="#" editable-text="task.title" buttons="no">{{ task.title || 'empty' }}</div>
                 </li>
                 <li class="list-group-item task app no-task disabled"
                     ng-if="day.tasks.length === 0">No tasks
                 </li>
               </ul>
            </li>
            <li class="col-md-12" ng-if="day.categorie === 'Delete'">
              <div class="col-md-4 col-md-offset-4">
                <h4>
                  {{ day.categorie }}
                </h4>
                <ul class="list-group apps-container"
                     ui-sortable="sortableOptions"
                     ng-model="day.tasks">
                   <li class="list-group-item task app {{ task.importance }} deleted"
                       ng-repeat="task in day.tasks">
                      <div href="#" editable-text="task.title" buttons="no">{{ task.title || 'empty' }}</div>
                   </li>
                   <li class="list-group-item task app no-task deleted disabled"
                       ng-if="day.tasks.length === 0">Drag task to delete
                   </li>
                 </ul>
              </div>
            </li>

          </ul>
        </div>
      </section>

    </div>
  </div>
</div>

<a class="add-new-task" href="" ng-click="addTask()"><strong>Add new task</strong></a>

