/* app css stylesheet */

.list-group > li.task:hover {
  cursor: -webkit-grab;
}

.list-group > li.task:active {
  cursor: -webkit-grabbing;
}

.list-group > li.task.no-task:hover {
  cursor: no-drop;
}

.list-group > li.task.no-task:active {
  cursor: no-drop;
}


.list-group-item.high {
  background-color: #d9534f;
}

.list-group-item.low {
  background-color: #f0ad4e;
}

.list-group-item.task {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: linear;
}

.list-group-item.category:hover {
  /*background: #31b0d5;*/
}

.list-group-item.task:hover {
  background: #31b0d5;
}

.app {
  list-style: none;
  min-height: 40px;
  background-color: lightgray;
}
